<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Playwright Hybrid Automation Suits">

    <listeners>
        <listener class-name = "extentReport.MyListeners" />
    </listeners>

    <test name="API Test Cases">
        <classes>
            <class name="getPackage.GetCall"/>
            <class name="postPackage.PostCall"/>
            <class name="putPackage.PutCall"/>
            <class name="deletePackage.DeleteCall"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
